.chats-wrapper{
    margin: 10px;
    width: 300px;
    border: solid 1px black;
    height: 450px;
    display: flex;
    background: #ffffff;
    flex-direction: column;
    .previous-chats{
        display: flex;
        flex-direction: column;
        height: 400px;
        padding: 10px;
        overflow-y: auto;
        .list-item{
            display: flex;
            list-style: none;
            align-items: center;
            margin: 2px;
            .list-name-icon{
                display: flex;
                align-items: center;
                .list-icon{
                    border: none;
                    border-radius: 20px;
                }
            }
            .list-name{
                font-size: 14px;
                margin: 5px;
            }
            .list-message{
                font-size: 12px;
                margin: 5px;
                word-wrap: break-word;
            }
        }
    }

    .chat-input-wrapper{
        display: flex;
        .chat-input{
            height: 50px;
            width: 100%;
        }
        .chat-btn{
            width: 75px;
        }
    }
}